{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Reset Password</title>

  <link rel="stylesheet" type="text/css"
                  href="{% static "bootstrap/css/bootstrap.min.css" %}">

  </head>

  <body>
    <div class="container">

        <div class="page-header">

            <div class="pull-right btn-group">
            </div>
          
          <h1 id="navbar">Password Reset</h1>
          <p>Forgotten your password?</p><br>
          <p>Enter your e-mail and we'll send instructions for setting a new one.</p>
       
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
    <div class="message red-gradient">{{ form.email.errors }}</div><br/>
    {% endif %}
            
    <p>E-mail address: {{ form.email }} <br/><br/>
       <input type="submit" class="btn btn-primary" value="Reset my password"></p>
</form>
        </div>


    </div>
  </body>
</html>



