<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background: #ffffff; padding-top: 20px; padding-bottom: 60px;">

    <table style="background: #ffffff; border: 6px solid #6aa7e5; width: 520px; margin: 0 auto; padding: 30px;" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td colspan="3" align="center">
          <img src="https://media.dataium.com/bintel/marketreport/images/Dataium_Large_Trimmed.png" width="50%" alt="Dataium Logo">
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding-top: 10px; padding-bottom: 28px;">
          <h2 style="color: #363636; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-weight: bold; font-size: 21px;">Password Reset Request</h2>

          <p style="color: #363636; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px;">
            You're receiving this email because a person at this email address requested a password reset to access your dealer's daily hit list from Dataium.
          </p>

          <p style="color: #363636; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px;">
            Please contact Dataium if you need additional assistance.
          </p>

          <div style="margin-top: 30px;">
            <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none; background: #E5637C; border: 2px solid #E5637C; color: #ffffff; display: inline-block; border-radius: 2px; width: 44%; padding: 16px 8px;">
              Reset My Password
            </a>
            <a href="http://www.dataium.com/rodan" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none; background: #ffffff; border: 2px solid #bbbbbb; color: #363636; display: inline-block; border-radius: 2px; width: 44%; padding: 16px 8px; float: right;">
              I Need More Assistance
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; padding-top: 28px; padding-bottom: 28px; border-top: 1px solid #cccccc;">
        <h4 style="color: #999999; margin: 0 0 4px 0; font-weight: normal;">Recent updates</h4>
        <a style="color: #ca5d54; text-decoration: none;" href="http://www.dataium.com/docs/Dataium-Market-Report_Quick-Guide.pdf?utm_source=marketreport&utm_medium=email&utm_content=guidelink&utm_campaign=marketreport">How-To and Tutorials</a>
        </td>
      </tr>
      <tr>
        <td align="left" style="color: #999999; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px; line-height: 18px; padding-top: 28px; border-top: 1px solid #cccccc;">
          <a href="http://www.dataium.com" style="color: #999999; text-decoration: none;">http://www.dataium.com</a><br>
          616 Marriott Drive, Ste. 600<br>
          Nashville, TN 37214<br>
        </td>
        <td align="right" style="line-height: 22px; padding-top: 22px; border-top: 1px solid #cccccc; width: 40px;">
          <a href="http://mandrillapp.com/track/click.php?u=15987227&id=3760e10a8c2a462ca871be5979c674a8&url=http%3A%2F%2Ftwitter.com%2Fslidesapp&url_id=3fea356c2677f1c58033317e0b265d8422ae2a2e" style="text-decoration: none;"><img width="28" height="28" alt="Twitter" src="https://s3.amazonaws.com/static.slid.es/images/twitter-28x28-grey.png"></a>
        </td>
        <td align="right" style="line-height: 22px; padding-top: 22px; border-top: 1px solid #cccccc; width: 40px;">
          <a href="http://mandrillapp.com/track/click.php?u=15987227&id=3760e10a8c2a462ca871be5979c674a8&url=http%3A%2F%2Ffacebook.com%2Fslidesapp&url_id=938d4fee45474f0f63a8b5fc6544c919761a3a45" style="text-decoration: none;"><img width="28" height="28" alt="Facebook" src="https://s3.amazonaws.com/static.slid.es/images/facebook-28x28-grey.png"></a>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding-top: 6px;">
          <a style="color: #999999; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;" href="http://mandrillapp.com/track/click.php?u=15987227&id=3760e10a8c2a462ca871be5979c674a8&url=https%3A%2F%2Fslid.es%2Fsettings%2Funsubscribe%3Femail%3Djburns%40dataium.com&url_id=f770a11069b350fd97d9881ac63585efbe7aea2d">Unsubscribe</a>
        </td>
      </tr>
    </table>

  <img src="http://mandrillapp.com/track/open.php?u=15987227&id=3760e10a8c2a462ca871be5979c674a8" height="1" width="1"></body>
</html>
