{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dataium Daily Hit List</title>

  <link rel="stylesheet" type="text/css"
                  href="{% static "bootstrap/css/bootstrap.min.css" %}">

  </head>

  <body>
    <div class="container">
        <div class="pull-right">
            {% if user.is_authenticated %}
                <small>Hi {{ user.username }}! | <a href="{% url 'logout' %}?next=/accounts/logout">logout</a></small>
            {% else %}
                <small><a href="{% url 'login' %}">login</a></small>
            {% endif %}
        </div>
        <div class="page-header">
          {% if user.is_authenticated %}
            <div class="pull-right btn-group">
            </div>
          
          <h1 id="navbar">Daily Hit List</h1>
          <h3>Dealer:&nbsp;&nbsp;{{dhldealer.dealername}}</h3>

              <table class="table table-striped table-hover ">
  		<thead>
    			<tr>
      				<th>Shopper Name</th>
      				<th>Shopper Email</th>
      				<th>Shopper Phone</th>
                                <th>Shopper Intensity</th>
    			</tr>
  		</thead>
  		<tbody>
    			{% block dhlleads %} 
                        <tr>
      				<td>1</td>
      				<td>Column content</td>
      				<td>Column content</td>
      				<td>Column content</td>
    			</tr>
                        {% endblock %}
                </tbody>
               </table>
        {% endif %}

        </div>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.level_tag }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}

    </div>
  </body>
</html>

