

{% extends 'daily_hitlist.html' %}



{% block clientname %} 
    {% if dealer.dealername %}
       	{{dealer.dealername}}
    {% else %}
        {{dealer.dealergroupname}}
    {% endif %}

{% endblock %}

{% block loginurl %}


     <a href="{{ loginpurl }}" style="font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none; background: #2F8ED4; border: 2px solid #bbbbbb; color: #ffffff; display: inline-block; border-radius: 2px; width: 44%; padding: 16px 8px;">
{% endblock %}

{% block leads %}

    <table style="font-family:Arial;color:#e5e5e5;size:10px;text-align:left;padding-left:20px;padding-right:10px;" >
        <tr>
            <th><font style="color:#000000;font-size:12px">Shopper Intensity</font></th>
            <th><font style="color:#000000;font-size:12px">Last Activity</font></th>
            <th><font style="color:#000000;font-size:12px">Preferred Vehicle</font></th>
        </tr>
        
        {% for l in dhl %}
            <tr style="background:{% cycle ' #efefef' '#ffffff' %}">
                <td><font style="color:#000;font-size:12px">{{ l.shopper_intensity }}</font></td>
                <td><font style="color:#000;font-size:12px">{{ l.shopper_last_activity }}</font></td>
                <td><font style="color:#000;font-size:12px">{{ l.shopper_preferred_vehicle }}</font></td>
            </tr>
       {% endfor %}
       
    </table>

{% endblock %}


