{% extends 'dhlbase.html' %}

{% block dhlleads %}  

       <table class="table table-striped table-hover ">
  		<thead>
    			<tr>
      				<th>Shopper Name</th>
      				<th>Shopper Email</th>
      				<th>Shopper Phone</th>
                                <th>Shopper Intensity</th>
                                <th>Shopper First Activity</th>
                                <th>Shopper Last Lead Date</th>
                                <th>Shopper Last Activity</th>
                                <th>Last Site Visited</th>
                                <th>Preferred Vehicle</th>
                                <th>Dealer Site</th>
    			</tr>
  		</thead>
            <tbody>


            {% for row in dhlleads %}
            <tr>
               <td>{{row.full_name}}</td>
               <td>{{row.shopper_email}}</td>
               <td>{{row.shopper_phone}}</td>
               <td>{{row.shopper_intensity}}</td>
               <td>{{row.shopper_first_activity_date}}</td>
               <td>{{row.shopper_last_lead_submitted_date}}</td>
               <td>{{row.shopper_last_activity_date}}</td>
               <td>{{row.shopper_last_site}}</td>
               <td>{{row.shopper_preferred_vehicle}}</td>
               <td>{{row.dealersite}}</td>
            </tr>
            {% endfor %}
 

{% endblock %}




